@import "variables";

/*========================================

#Noto sans SC

========================================*/
@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 100;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 300;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Light.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 400;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 500;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Medium.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 700;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : 'Noto Sans SC';
  font-style    : normal;
  font-weight   : 900;
  src           : url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Black.otf) format('opentype');
  unicode-range : $unicode-range-CN;
}

/*========================================

#Noto sans JP

========================================*/
@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 100;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 300;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 400;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 500;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 700;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Noto Sans JP';
  font-style    : normal;
  font-weight   : 900;
  src           : url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format('opentype');
  unicode-range : $unicode-range-JP;
}

/*========================================

#Noto sans EN

========================================*/

/* cyrillic-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/C7bP6N8yXZ-PGLzbFLtQKYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/iLJc6PpCnnbQjYc1Jq4v04X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/5pCv5Yz4eMu9gmvX8nNhfYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/gEkd0pn-sMtQ_P4HUpi6WIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/iPF-u8L1qkTPHaKjvXERn4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range : U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range : U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1w7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range : U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1xdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range : U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1yGUML8f7tzeB6gGvgki0bE.woff2) format('woff2');
  unicode-range : U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ156vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range : U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1_y1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range : U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ14joYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range : U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family   : 'Noto Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1xampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range : U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*========================================

#PingFang SC

========================================*/

@font-face {
  font-family   : "PingFang";
  font-style    : normal;
  font-weight   : 400;
  src           : local('PingFangSC-Regular');
  unicode-range : $unicode-range-CN;
}

@font-face {
  font-family   : "PingFang";
  font-style    : normal;
  font-weight   : 700;
  src           : local('PingFangSC-Semibold');
  unicode-range : $unicode-range-CN;
}

/*========================================

#Helvetica Neue

========================================*/

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 100;
  src           : local('HelveticaNeue-UltraLight');
  unicode-range : $unicode-range-EN;
}

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 200;
  src           : local('HelveticaNeue-Thin');
  unicode-range : $unicode-range-EN;
}

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 300;
  src           : local('HelveticaNeue-Light');
  unicode-range : $unicode-range-EN;
}

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 400;
  src           : local('HelveticaNeue');
  unicode-range : $unicode-range-EN;
}

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 500;
  src           : local('HelveticaNeue-Medium');
  unicode-range : $unicode-range-EN;
}

@font-face {
  font-family   : 'Helvetica Neue';
  font-style    : normal;
  font-weight   : 700;
  src           : local('HelveticaNeue-Bold');
  unicode-range : $unicode-range-EN;
}

/*========================================

#MS Mincho

========================================*/

@font-face {
  font-family   : 'MS Mincho';
  font-style    : normal;
  src           : local('MS Mincho');
  unicode-range : $unicode-range-JP;
}

/*========================================

#Hiragino Sans

========================================*/

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 100;
  src           : local('HiraginoSans-W1');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 200;
  src           : local('HiraginoSans-W2');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 300;
  src           : local('HiraginoSans-W3');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 400;
  src           : local('HiraginoSans-W4');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 500;
  src           : local('HiraginoSans-W5');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 600;
  src           : local('HiraginoSans-W6');
  unicode-range : $unicode-range-JP;
}

@font-face {
  font-family   : 'Hiragino Sans';
  font-style    : normal;
  font-weight   : 700;
  src           : local('HiraginoSans-W7');
  unicode-range : $unicode-range-JP;
}