@mixin clearfix(){
  &::after{
    display : block;
    content : "";
    clear   : both;
  }
}

@mixin format_suffix_loop($format-suffix, $columns, $i){
  @if $format-suffix == ""{
    -ms-flex  : 0 0 (100%/$columns) * $i;
    flex      : 0 0 (100%/$columns) * $i;
    max-width : (100%/$columns) * $i;
    float     : left;
  }
  @if $format-suffix == "-pull"{
    right : (100%/$columns) * $i;
  }
  @if $format-suffix == "-push"{
    left : (100%/$columns) * $i;
  }
  @if $format-suffix == "-offset"{
    margin-left : (100%/$columns) * $i;
  }
}